<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.six.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.six.model.RoleMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <!--查询当前角色的权限-->
  <select id="selectRoleMenu" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MENU_ID from t_role_menu where  ROLE_ID=#{id}
  </select>
  <update id="ss">
    update t_role_menu set menu_id = #{menuId} where role_id = #{id}
  </update>
</mapper>